@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{ System.Web.HttpContext.Current.Response.ContentType = "application/json"; }@GetValue("DwContent(content)")@*
    @GetValue("Stylesheets")
    @GetValue("Javascripts")
    <div class="dwcontent" id="content" title="Content"></div> *@
