@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Cool template tricks</title>
</head>
<body>
    @IncludeFile("Partials/_Navigation.cshtml")
</body>
</html>
