@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
    var comments = GetLoop("ItemPublisher:Items.List");
    if (comments.Count > 0)
    {
        <section class="comments">
            @foreach (var comment in comments)
            {
                <article class="comment">
                    <header>
                        <span class="name">@comment.GetValue("ItemPublisher:Item.Name")</span>
                        @Translate("says on")
                        <span class="time">@comment.GetDate("ItemPublisher:Item.CreatedAt").ToLongDateString()</span>
                    </header>

                    <blockquote class="comment">
                        @comment.GetValue("ItemPublisher:Item.Comment")
                    </blockquote>
                </article>
            }
        </section>
    }
}

