@Include("includes/GalleryList.cshtml")


<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">			
		<h3 class="dw-section-title"><span>@GetGlobalValue("Global:Page.Name")</span></h3>
	</div>
</div>
<div class="row">&nbsp;</div>
<div class="w-section inverse work work-no-space g4">
	<div class="row">
		<div class="w-box inverse">
			
			@GetImageList(GetLoop("Images"), 4, false)

			<div class="gap"></div>
		</div>

	</div>	
</div>
<div class="row">&nbsp;</div>
