<div class="row">
	<div class="col-md-12">
		<p>&nbsp;</p>
		@if (@GetString("Item.Style") != "clean"){
			<hr style="border-top: 1px @GetString("Item.Style"); height: 1px;"></hr>
		} else {
			<hr />
		}
		<p>&nbsp;</p>
	</div>
</div>