.body-wrap.shad.body-boxed ~ .body-wrap.body-boxed,
footer {
    display: none;
}

.paragraph {
    + .paragraph {
        margin-top: 1em;
    }

    .module {
        .feeds {
            text-align: right;
            opacity: 0;
            transition: opacity ease-in .2s;
        }

        &:hover {
            .feeds {
                opacity: 1;
            }
        }
    }
}

a:hover {
    text-decoration: underline;
}

.form-group {
    &.required {
        label::after {
            content: '*';
            padding-left: 1em;
            color: red;
        }
    }
}

.comments {
    .comment {
        margin: 1em 0;
    }

    .name, .time {
        font-weight: bold;
    }

    .comment {

    }
}