.body-wrap.shad.body-boxed ~ .body-wrap.body-boxed,
footer {
    display: none;
}

.paragraph {
    + .paragraph {
        margin-top: 1em;
    }
}

* {
    > .feeds {
        text-align: right;
        opacity: 0;
        transition: opacity ease-in .2s;
    }

    &:hover {
        > .feeds {
            opacity: 1;
        }
    }
}


a:hover {
    text-decoration: underline;
}

.form-group {
    &.required {
        label::after {
            content: '*';
            padding-left: 1em;
            color: red;
        }
    }
}

.comments {
    .comment {
        margin: 1em 0;
    }

    .name, .time {
        font-weight: bold;
    }

    .comment:target {
        background-color: #ff7;
    }
}

// News
.news-list {
    .news {
        + .news {
            margin-top: 1em;
            padding-top: 1em;
            border-top: solid 1px #ddd;
        }
    }
}

.news {
    .excerpt, .content {
        margin: 1em 0;
    }

    .read-more {
        text-align: right;
    }

    .categories {
        font-size: smaller;

        .category {
            margin-left: .5em;
        }
    }

    .archive-info {
        float: right;
    }
}
