-- WARNING: Running this script will delete a lot of data in your database

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ItemType_Dwt__Id__2042BE37]') AND parent_object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Speaker]'))
ALTER TABLE [dbo].[ItemType_Dwtc15_Speaker] DROP CONSTRAINT [FK__ItemType_Dwt__Id__2042BE37]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ItemType_Dwt__Id__79E80B25]') AND parent_object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_ParagraphWithModule]'))
ALTER TABLE [dbo].[ItemType_Dwtc15_ParagraphWithModule] DROP CONSTRAINT [FK__ItemType_Dwt__Id__79E80B25]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ItemType_Dwt__Id__1C722D53]') AND parent_object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Attendee]'))
ALTER TABLE [dbo].[ItemType_Dwtc15_Attendee] DROP CONSTRAINT [FK__ItemType_Dwt__Id__1C722D53]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ItemListRelation_FKItemListId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ItemListRelation]'))
ALTER TABLE [dbo].[ItemListRelation] DROP CONSTRAINT [ItemListRelation_FKItemListId]
GO
/****** Object:  Index [DW_PK_ItemTypeId]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeId]') AND name = N'DW_PK_ItemTypeId')
ALTER TABLE [dbo].[ItemTypeId] DROP CONSTRAINT [DW_PK_ItemTypeId]
GO
/****** Object:  Index [DW_PK_ItemTypeDefinitions]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeDefinitions]') AND name = N'DW_PK_ItemTypeDefinitions')
ALTER TABLE [dbo].[ItemTypeDefinitions] DROP CONSTRAINT [DW_PK_ItemTypeDefinitions]
GO
/****** Object:  Table [dbo].[Paragraph]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Paragraph]') AND type in (N'U'))
DROP TABLE [dbo].[Paragraph]
GO
/****** Object:  Table [dbo].[Page]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Page]') AND type in (N'U'))
DROP TABLE [dbo].[Page]
GO
/****** Object:  Table [dbo].[ItemTypeId]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeId]') AND type in (N'U'))
DROP TABLE [dbo].[ItemTypeId]
GO
/****** Object:  Table [dbo].[ItemTypeDefinitions]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeDefinitions]') AND type in (N'U'))
DROP TABLE [dbo].[ItemTypeDefinitions]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Venue]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Venue]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Venue]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Speaker]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Speaker]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Speaker]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Attendee]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Attendee]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Attendee]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Session]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Session]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Session]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Person]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Person]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Person]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_ParagraphWithModule]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_ParagraphWithModule]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_ParagraphWithModule]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Paragraph]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Paragraph]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Paragraph]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Page]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Page]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Page]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_NewsCategory]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_NewsCategory]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_NewsCategory]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_News]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_News]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_News]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Company]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Company]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Company]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Comment]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Comment]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Comment]
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Address]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Address]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_Dwtc15_Address]
GO
/****** Object:  Table [dbo].[ItemType_DwsimpleWebsiteSettings]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_DwsimpleWebsiteSettings]') AND type in (N'U'))
DROP TABLE [dbo].[ItemType_DwsimpleWebsiteSettings]
GO
/****** Object:  Table [dbo].[ItemNamedItemList]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemNamedItemList]') AND type in (N'U'))
DROP TABLE [dbo].[ItemNamedItemList]
GO
/****** Object:  Table [dbo].[ItemListRelation]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemListRelation]') AND type in (N'U'))
DROP TABLE [dbo].[ItemListRelation]
GO
/****** Object:  Table [dbo].[ItemList]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemList]') AND type in (N'U'))
DROP TABLE [dbo].[ItemList]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 2015-02-24 4:05:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Area]') AND type in (N'U'))
DROP TABLE [dbo].[Area]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Area]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Area](
	[AreaId] [int] IDENTITY(1,1) NOT NULL,
	[AreaStyleId] [int] NULL CONSTRAINT [DW_DF_Area_AreaStyleId]  DEFAULT ((1)),
	[AreaName] [nvarchar](255) NULL,
	[AreaDomain] [ntext] NULL,
	[AreaEncoding] [nvarchar](255) NULL,
	[AreaPermission] [nvarchar](255) NULL,
	[AreaPermissionTemplate] [nvarchar](50) NULL,
	[AreaTitle] [nvarchar](255) NULL,
	[AreaKeywords] [ntext] NULL,
	[AreaDescription] [ntext] NULL,
	[AreaFrontpage] [nvarchar](255) NULL,
	[AreaDateformat] [nvarchar](50) NULL,
	[AreaCodepage] [int] NULL CONSTRAINT [DW_DF_Area_Codepage]  DEFAULT ((28591)),
	[AreaLanguage] [int] NULL CONSTRAINT [DW_DF_Area_Language]  DEFAULT ((1)),
	[StyleId] [int] NULL CONSTRAINT [DW_DF_Area_StyleId]  DEFAULT ((1)),
	[AreaMasterTemplate] [nvarchar](100) NULL,
	[AreaHtmlType] [nvarchar](10) NULL,
	[AreaCulture] [nvarchar](50) NULL,
	[AreaApprovalType] [int] NULL,
	[AreaEcomLanguageId] [nvarchar](50) NULL,
	[AreaEcomCurrencyId] [nvarchar](3) NULL,
	[AreaActive] [bit] NOT NULL CONSTRAINT [DW_DF_Area_Active]  DEFAULT ((0)),
	[AreaSort] [int] NULL,
	[AreaMasterAreaId] [int] NULL CONSTRAINT [DW_DF_Area_MasterAreaId]  DEFAULT ((0)),
	[AreaRobotsTxt] [nvarchar](max) NULL,
	[AreaRobotsTxtIncludeSitemap] [bit] NOT NULL CONSTRAINT [DW_DF_Area_RobotsTxtIncludeSitemap]  DEFAULT ((0)),
	[AreaDomainLock] [nvarchar](255) NULL,
	[AreaUserManagementPermissions] [nvarchar](max) NULL,
	[AreaUrlName] [nvarchar](50) NULL,
	[AreaUpdatedDate] [datetime] NULL,
	[AreaCreatedDate] [datetime] NULL,
	[AreaCopyOf] [int] NULL,
	[AreaLayout] [nvarchar](255) NULL,
	[AreaNotFound] [nvarchar](255) NULL,
	[AreaRedirectFirstPage] [int] NULL,
	[AreaLayoutPhone] [nvarchar](255) NULL,
	[AreaLayoutTablet] [nvarchar](255) NULL,
	[AreaLockPagesToDomain] [bit] NULL,
	[AreaEcomCountryCode] [nchar](2) NULL,
	[AreaEcomShopId] [nvarchar](50) NULL,
	[AreaUrlIgnoreForChildren] [bit] NULL,
	[AreaItemType] [nvarchar](255) NULL,
	[AreaItemId] [nvarchar](255) NULL,
	[AreaCookieWarningTemplate] [nvarchar](255) NULL,
	[AreaCookieCustomNotifications] [bit] NOT NULL CONSTRAINT [DW_DF_Area_CookieCustomNotifications]  DEFAULT ((0)),
	[AreaItemTypePageProperty] [nvarchar](255) NULL,
	[AreaIncludeProductsInSitemap] [bit] NOT NULL CONSTRAINT [DW_DF_Area_IncludeProductsInSitemap]  DEFAULT ((0)),
	[AreaSSLMode] [int] NULL,
	[AreaEcomPricesWithVat] [nvarchar](10) NULL,
 CONSTRAINT [DW_PK_Area] PRIMARY KEY CLUSTERED
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemList]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemList](
	[ItemListId] [int] IDENTITY(1,1) NOT NULL,
	[ItemListItemType] [nvarchar](255) NOT NULL,
 CONSTRAINT [ItemList_PrimaryKey] PRIMARY KEY CLUSTERED
(
	[ItemListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemListRelation]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemListRelation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemListRelation](
	[ItemListRelationId] [int] IDENTITY(1,1) NOT NULL,
	[ItemListRelationItemListId] [int] NOT NULL,
	[ItemListRelationItemId] [nvarchar](255) NOT NULL,
	[ItemListRelationSort] [int] NOT NULL,
 CONSTRAINT [ItemListRelation_PrimaryKey] PRIMARY KEY CLUSTERED
(
	[ItemListRelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemNamedItemList]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemNamedItemList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemNamedItemList](
	[ItemNamedItemListId] [int] IDENTITY(1,1) NOT NULL,
	[ItemNamedItemListName] [nvarchar](255) NOT NULL,
	[ItemNamedItemListSourceType] [nvarchar](50) NOT NULL,
	[ItemNamedItemListSourceId] [bigint] NOT NULL,
	[ItemNamedItemListItemListId] [int] NOT NULL,
 CONSTRAINT [DW_PK_ItemNamedItemList] PRIMARY KEY CLUSTERED
(
	[ItemNamedItemListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_DwsimpleWebsiteSettings]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_DwsimpleWebsiteSettings]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_DwsimpleWebsiteSettings](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[ColorsPrimary] [nvarchar](max) NULL,
	[ColorsHeadmenuBackgroundColor] [nvarchar](max) NULL,
	[ColorsFooterColor] [nvarchar](max) NULL,
	[GeneralLogo] [nvarchar](max) NULL,
	[GeneralLogoText] [nvarchar](255) NULL,
	[FontFamily] [nvarchar](max) NULL,
	[GoogleFontLink] [nvarchar](255) NULL,
	[LogoFontColor] [nvarchar](max) NULL,
	[LayoutMode] [nvarchar](max) NULL,
	[BackgroundSiteShadow] [bit] NULL,
	[LayoutRoundCorners] [bit] NULL,
	[NavigationPosition] [nvarchar](max) NULL,
	[NavigationSticky] [bit] NULL,
	[HeaderLayoutMode] [nvarchar](max) NULL,
	[HeaderShow] [bit] NULL,
	[HeaderLayoutImage] [nvarchar](max) NULL,
	[NavigationSelectionMode] [nvarchar](max) NULL,
	[SelectionWeight] [nvarchar](max) NULL,
	[NavbarFontColor] [nvarchar](max) NULL,
	[NavigationUppercase] [bit] NULL,
	[NavigationBreadcrumbLayout] [nvarchar](max) NULL,
	[NavigationNavbarBackground] [nvarchar](max) NULL,
	[NavigationBreadcrumbAlign] [nvarchar](max) NULL,
	[NavigationLeftNavigationMode] [nvarchar](max) NULL,
	[NavigationButtonDesign] [nvarchar](max) NULL,
	[BackgroundImage] [nvarchar](max) NULL,
	[BackgroundCustomImage] [nvarchar](max) NULL,
	[BackgroundFixed] [bit] NULL,
	[BackgroundColor] [nvarchar](max) NULL,
	[BackroundGradientColor] [bit] NULL,
	[GradientPercentage] [int] NULL,
	[HeadingsHeadtitleFont] [nvarchar](max) NULL,
	[HeadingsGoogleFontLink] [nvarchar](255) NULL,
	[HeadingsH2_FontFamily] [nvarchar](max) NULL,
	[HeadingsH2_GoogleFontName] [nvarchar](255) NULL,
	[AdvHeadingsMode] [nvarchar](max) NULL,
	[HeadingsHeadtitleSize] [int] NULL,
	[AdvHeadingsH1_Weight] [nvarchar](max) NULL,
	[HeadingsHeadtitleCasing] [nvarchar](max) NULL,
	[AdvHeadingsH1_Lineheight] [nvarchar](max) NULL,
	[HeadingsColor] [nvarchar](max) NULL,
	[AdvHeadingsH1_Letterspacing] [float] NULL,
	[HeadingsH2_Size] [int] NULL,
	[AdvHeadingsH2_Weight] [nvarchar](max) NULL,
	[HeadingsH2_Casing] [nvarchar](max) NULL,
	[AdvHeadingsH2_Lineheight] [nvarchar](max) NULL,
	[AdvHeadingsH2_Letterspacing] [float] NULL,
	[HeadingsH2_Color] [nvarchar](max) NULL,
	[BodyFont] [nvarchar](max) NULL,
	[BodyTextGoogleFontLink] [nvarchar](255) NULL,
	[BodyFontSize] [int] NULL,
	[FooterCompanyName] [nvarchar](255) NULL,
	[FooterAddress] [nvarchar](max) NULL,
	[FooterPhone] [nvarchar](255) NULL,
	[FooterEmail] [nvarchar](max) NULL,
	[FooterNewsletterSignUp] [bit] NULL,
	[FooterShowSitemap] [bit] NULL,
	[WebmasterLinkCode] [nvarchar](max) NULL,
	[FacebookAccountName] [nvarchar](255) NULL,
	[FacebookCommendAdmin] [nvarchar](255) NULL,
	[SocialLinksInFooter] [bit] NULL,
	[SocialIconInFooter] [nvarchar](max) NULL,
	[OtherAnalyticsCode] [nvarchar](max) NULL,
	[OtherSupportEmail] [nvarchar](255) NULL,
	[OtherDomain] [nvarchar](255) NULL,
	[EcomEnabled] [bit] NULL,
	[EcommercePriceColor] [nvarchar](max) NULL,
	[EcommerceCartButtonColor] [nvarchar](max) NULL,
	[EcommerceDiscountStickerColor] [nvarchar](max) NULL,
	[CustomersAlsoSaw] [bit] NULL,
	[ProductsFromCategory] [bit] NULL,
	[YourLastSeenProducts] [bit] NULL,
	[EcommerceProductListForm] [nvarchar](max) NULL,
	[Sort] [bigint] NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Address]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Address]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Address](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Street] [nvarchar](255) NULL,
	[ZIPCode] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Geolocation] [nvarchar](max) NULL,
	[Sort] [bigint] NULL,
	[Region] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Attendee]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Attendee]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Attendee](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Sort] [bigint] NULL,
	[Email] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Comment]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Comment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Comment](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Comment] [nvarchar](max) NULL,
	[Sort] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Company]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Company]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Company](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Name] [nvarchar](255) NULL,
	[Homepage] [nvarchar](255) NULL,
	[Address] [nvarchar](max) NULL,
	[Sort] [bigint] NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_News]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_News]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_News](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Heading] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[RelatedNews] [int] NULL,
	[Sort] [bigint] NULL,
	[Categories] [nvarchar](max) NULL,
	[PublicationTime] [datetime] NULL,
	[ExpirationTime] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_NewsCategory]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_NewsCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_NewsCategory](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Name] [nvarchar](255) NULL,
	[Sort] [bigint] NULL,
	[Description] [nvarchar](max) NULL,
	[IsArchive] [bit] NULL,
	[NewsPage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Page]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Page]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Page](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Name] [nvarchar](255) NULL,
	[Sort] [bigint] NULL,
	[CommentActions] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Paragraph]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Paragraph]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Paragraph](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Heading] [nvarchar](255) NULL,
	[HeadingLevel] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Sort] [bigint] NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_ParagraphWithModule]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_ParagraphWithModule]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_ParagraphWithModule](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Sort] [bigint] NULL,
	[AvailableFeeds] [nvarchar](max) NULL,
	[Csv_FieldDelimiter] [nvarchar](255) NULL,
	[Csv_DataDelimiter] [nvarchar](255) NULL,
	[Csv_IncludeHeader] [bit] NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Person]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Person]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Person](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Name] [nvarchar](255) NULL,
	[Sort] [bigint] NULL,
	[Address] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Session]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Session]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Session](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Title] [nvarchar](255) NULL,
	[StartTime] [datetime] NULL,
	[IsBreak] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[Speakers] [int] NULL,
	[Sort] [bigint] NULL,
	[Location] [nvarchar](max) NULL,
	[TechnicalLevel] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Speaker]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Speaker]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Speaker](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Biography] [nvarchar](max) NULL,
	[Homepage] [nvarchar](255) NULL,
	[Sort] [bigint] NULL,
	[Image] [nvarchar](max) NULL,
	[Title] [nvarchar](255) NULL,
	[Company] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemType_Dwtc15_Venue]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Venue]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemType_Dwtc15_Venue](
	[Id] [nvarchar](255) NOT NULL,
	[ItemInstanceType] [nvarchar](255) NOT NULL DEFAULT (''),
	[Name] [nvarchar](255) NULL,
	[Sort] [bigint] NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemTypeDefinitions]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeDefinitions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemTypeDefinitions](
	[ItemTypeDefinitionsSystemName] [nvarchar](255) NOT NULL,
	[ItemTypeDefinitionsMetadata] [nvarchar](max) NOT NULL,
	[ItemTypeDefinitionsModified] [datetime] NOT NULL,
	[ItemTypeDefinitionAutoId] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ItemTypeId]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeId]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ItemTypeId](
	[ItemType] [nvarchar](255) NOT NULL,
	[Current] [int] NOT NULL,
	[Seed] [int] NULL,
	[ItemTypeIdAutoId] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Page]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Page]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Page](
	[PageId] [int] IDENTITY(1,1) NOT NULL,
	[PageParentPageId] [int] NULL CONSTRAINT [DW_DF_Page_ParentPageId]  DEFAULT ((0)),
	[PageAreaId] [int] NULL CONSTRAINT [DW_DF_Page_AreaId]  DEFAULT ((1)),
	[PageSort] [int] NULL CONSTRAINT [DW_DF_Page_Sort]  DEFAULT ((0)),
	[PageMenuText] [nvarchar](255) NULL,
	[PageActive] [bit] NOT NULL CONSTRAINT [DW_DF_Page_Active]  DEFAULT ((0)),
	[PageMouseOver] [nvarchar](255) NULL,
	[PageImageMouseOver] [nvarchar](255) NULL,
	[PageImageMouseOut] [nvarchar](255) NULL,
	[PageImageActivePage] [nvarchar](255) NULL,
	[PageTopImage] [nvarchar](255) NULL,
	[PageTextAndImage] [bit] NOT NULL CONSTRAINT [DW_DF_Page_TextAndImage]  DEFAULT ((0)),
	[PageProtect] [bit] NOT NULL CONSTRAINT [DW_DF_Page_Protect]  DEFAULT ((0)),
	[PagePassword] [nvarchar](50) NULL,
	[PageCreatedDate] [datetime] NULL,
	[PageUpdatedDate] [datetime] NULL,
	[PageShowTopImage] [bit] NOT NULL CONSTRAINT [DW_DF_Page_ShowTopImage]  DEFAULT ((0)),
	[PageStylesheet] [int] NULL,
	[PageBackgroundImage] [nvarchar](255) NULL,
	[PageTopLogoImage] [nvarchar](255) NULL,
	[PageActiveFrom] [datetime] NULL,
	[PageActiveTo] [datetime] NULL,
	[PageShortCut] [nvarchar](255) NULL,
	[PageShortCutRedirect] [bit] NOT NULL CONSTRAINT [DW_DF_Page_ShortcutRedirect]  DEFAULT ((0)),
	[PagePermission] [nvarchar](max) NULL,
	[PagePermissionType] [int] NULL CONSTRAINT [DW_DF_Page_PermissionType]  DEFAULT ((1)),
	[PagePermissionTemplate] [nvarchar](255) NULL,
	[PageAllowsearch] [bit] NOT NULL CONSTRAINT [DW_DF_Page_Allowsearch]  DEFAULT ((1)),
	[PageShowInSitemap] [bit] NOT NULL CONSTRAINT [DW_DF_Page_ShowInSitemap]  DEFAULT ((0)),
	[PageAllowClick] [bit] NOT NULL CONSTRAINT [DW_DF_Page_Allowclick]  DEFAULT ((1)),
	[PageMenuLogoImage] [nvarchar](255) NULL,
	[PageFooterImage] [nvarchar](255) NULL,
	[PageDescription] [ntext] NULL,
	[PageKeywords] [ntext] NULL,
	[PageUserCreate] [int] NULL CONSTRAINT [DW_DF_Page_UserCreate]  DEFAULT ((0)),
	[PageUserEdit] [int] NULL CONSTRAINT [DW_DF_Page_UserEdit]  DEFAULT ((0)),
	[PageRotation] [nvarchar](255) NULL,
	[PageDublinCore] [ntext] NULL,
	[PageShowUpdateDate] [bit] NOT NULL CONSTRAINT [DW_DF_Page_ShowUpdateDate]  DEFAULT ((0)),
	[PageManager] [int] NULL CONSTRAINT [DW_DF_Page_Manager]  DEFAULT ((0)),
	[PageManageFrequence] [int] NULL CONSTRAINT [DW_DF_Page_ManageFrequence]  DEFAULT ((0)),
	[PageWorkflowId] [int] NULL CONSTRAINT [DW_DF_Page_WorkflowId]  DEFAULT ((0)),
	[PageWorkflowState] [int] NULL CONSTRAINT [DW_DF_Page_WorkflowState]  DEFAULT ((0)),
	[PageShowInLegend] [bit] NOT NULL CONSTRAINT [DW_DF_Page_ShowInLegend]  DEFAULT ((0)),
	[PageShowFavorites] [bit] NOT NULL CONSTRAINT [DW_DF_Page_ShowFavorites]  DEFAULT ((0)),
	[PageVersionParentId] [int] NULL CONSTRAINT [DW_DF_Page_VersionParentId]  DEFAULT ((0)),
	[PageVersionNumber] [int] NULL CONSTRAINT [DW_DF_Page_VersionNumber]  DEFAULT ((0)),
	[PageCacheMode] [int] NULL,
	[PageCacheFrequence] [int] NULL,
	[PageInheritId] [int] NULL CONSTRAINT [DW_DF_Page_InheritId]  DEFAULT ((0)),
	[PageInheritUpdateDate] [datetime] NULL,
	[PageInheritStatus] [int] NULL CONSTRAINT [DW_DF_Page_InheritStatus]  DEFAULT ((0)),
	[PageApprovalType] [int] NULL CONSTRAINT [DW_DF_Page_ApprovalType]  DEFAULT ((0)),
	[PageApprovalState] [int] NULL CONSTRAINT [DW_DF_Page_ApprovalState]  DEFAULT ((0)),
	[PageVersionTimeStamp] [datetime] NULL,
	[PageApprovalStep] [int] NULL,
	[PageTopLevelIntegration] [bit] NOT NULL CONSTRAINT [DW_DF_Page_TopLevelIntegration]  DEFAULT ((0)),
	[PageForIntegration] [bit] NOT NULL CONSTRAINT [DW_DF_Page_ForIntegration]  DEFAULT ((0)),
	[PageRotationType] [int] NULL,
	[PageMasterPageId] [int] NULL CONSTRAINT [DW_DF_Page_MasterPageId]  DEFAULT ((0)),
	[PageTopLogoImageAlt] [nvarchar](255) NULL,
	[PageNavigation_UseEcomGroups] [bit] NULL,
	[PageNavigationParentType] [nvarchar](50) NULL,
	[PageNavigationGroupSelector] [nvarchar](max) NULL,
	[PageNavigationMaxLevels] [nvarchar](50) NULL,
	[PageNavigationProductPage] [nvarchar](max) NULL,
	[PageNavigationShopSelector] [nvarchar](max) NULL,
	[PageUserManagementPermissions] [nvarchar](max) NULL,
	[PageUrlName] [nvarchar](50) NULL,
	[PageHidden] [bit] NULL,
	[PageIsTemplate] [bit] NULL,
	[PageTemplateDescription] [nvarchar](255) NULL,
	[PageMetaTitle] [nvarchar](255) NULL,
	[PageCopyOf] [int] NULL,
	[PageLayout] [nvarchar](255) NULL,
	[PageDisableAutoMeta] [bit] NULL,
	[PageMasterType] [int] NULL,
	[PageRobots404] [bit] NULL,
	[PageLayoutApplyToSubPages] [int] NULL CONSTRAINT [DW_DF_Page_LayoutApplyToSubPages]  DEFAULT ((0)),
	[PageNavigationTag] [nvarchar](255) NULL,
	[PageLayoutPhone] [nvarchar](255) NULL,
	[PageLayoutTablet] [nvarchar](255) NULL,
	[PageHideForPhones] [bit] NULL,
	[PageHideForTablets] [bit] NULL,
	[PageHideForDesktops] [bit] NULL,
	[PageHasExperiment] [bit] NULL CONSTRAINT [DW_DF_Page_HasExperiment]  DEFAULT ((0)),
	[PageSSLMode] [int] NULL,
	[PageUrlIgnoreForChildren] [bit] NULL,
	[PageUrlUseAsWritten] [bit] NULL,
	[PageItemType] [nvarchar](255) NULL,
	[PageItemId] [nvarchar](255) NULL,
	[PagePropertyItemId] [nvarchar](255) NULL,
	[PageMetaCanonical] [nvarchar](255) NULL,
	[PageExactUrl] [nvarchar](255) NULL,
	[PageNoindex] [bit] NULL,
	[PageNofollow] [bit] NULL,
	[PageContentType] [nvarchar](50) NULL,
	[PageCreationRules] [nvarchar](max) NULL,
	[PageIsFolder] [bit] NULL CONSTRAINT [DW_DF_Page_IsFolder]  DEFAULT ((0)),
	[PageNavigationIncludeProducts] [bit] NULL CONSTRAINT [DW_DF_Page_NavigationIncludeProducts]  DEFAULT ((0)),
	[PageNavigationProvider] [nvarchar](255) NULL,
 CONSTRAINT [DW_PK_Page] PRIMARY KEY CLUSTERED
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Paragraph]    Script Date: 2015-02-24 4:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Paragraph]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Paragraph](
	[ParagraphId] [int] IDENTITY(1,1) NOT NULL,
	[ParagraphPageId] [int] NULL CONSTRAINT [DW_DF_Paragraph_PageId]  DEFAULT ((0)),
	[ParagraphModuleSystemName] [nvarchar](50) NULL,
	[ParagraphIndex] [bit] NOT NULL CONSTRAINT [DW_DF_Paragraph_Index]  DEFAULT ((0)),
	[ParagraphSort] [int] NULL CONSTRAINT [DW_DF_Paragraph_Sort]  DEFAULT ((0)),
	[ParagraphHeader] [nvarchar](255) NULL,
	[ParagraphShowHeader] [bit] NOT NULL CONSTRAINT [DW_DF_Paragraph_ShowHeader]  DEFAULT ((0)),
	[ParagraphShowParagraph] [bit] NOT NULL CONSTRAINT [DW_DF_Paragraph_ShowParagraph]  DEFAULT ((0)),
	[ParagraphSubHeader] [ntext] NULL,
	[ParagraphText] [ntext] NULL,
	[ParagraphIgnoreBreaks] [bit] NOT NULL CONSTRAINT [DW_DF_Paragraph_IgnoreBreaks]  DEFAULT ((0)),
	[ParagraphImage] [nvarchar](255) NULL,
	[ParagraphImageURL] [nvarchar](255) NULL,
	[ParagraphImageTarget] [nvarchar](250) NULL,
	[ParagraphImageNewWindow] [bit] NOT NULL CONSTRAINT [DW_DF_Paragraph_ImageNewWindow]  DEFAULT ((0)),
	[ParagraphImageMouseOver] [nvarchar](255) NULL,
	[ParagraphImageCaption] [nvarchar](255) NULL,
	[ParagraphImageResize] [bit] NOT NULL CONSTRAINT [DW_DF_Paragraph_ImageResize]  DEFAULT ((0)),
	[ParagraphImageVAlign] [nvarchar](255) NULL CONSTRAINT [DW_DF_Paragraph_ImageVAlign]  DEFAULT (N'top'),
	[ParagraphImageVSpace] [int] NULL CONSTRAINT [DW_DF_Paragraph_ImageVSpace]  DEFAULT ((0)),
	[ParagraphImageHAlign] [nvarchar](50) NULL CONSTRAINT [DW_DF_Paragraph_ImageHAlign]  DEFAULT (N'left'),
	[ParagraphImageHSpace] [int] NULL CONSTRAINT [DW_DF_Paragraph_ImageHSpace]  DEFAULT ((0)),
	[ParagraphTemplateId] [int] NULL CONSTRAINT [DW_DF_Paragraph_TemplateId]  DEFAULT ((0)),
	[ParagraphValidFrom] [datetime] NULL,
	[ParagraphValidTo] [datetime] NULL,
	[ParagraphCreatedDate] [datetime] NULL CONSTRAINT [DW_DF_Paragraph_CreatedDate]  DEFAULT (getdate()),
	[ParagraphUpdatedDate] [datetime] NULL,
	[ParagraphBottomSpace] [int] NULL CONSTRAINT [DW_DF_Paragraph_BottomSpace]  DEFAULT ((0)),
	[ParagraphModuleSettings] [ntext] NULL,
	[ParagraphUserCreate] [int] NULL CONSTRAINT [DW_DF_Paragraph_UserCreate]  DEFAULT ((0)),
	[ParagraphUserEdit] [int] NULL CONSTRAINT [DW_DF_Paragraph_UserEdit]  DEFAULT ((0)),
	[ParagraphImageLinkTarget] [nvarchar](255) NULL,
	[ParagraphWorkflowId] [int] NULL CONSTRAINT [DW_DF_Paragraph_WorkflowId]  DEFAULT ((0)),
	[ParagraphWorkflowState] [int] NULL CONSTRAINT [DW_DF_Paragraph_WorkflowState]  DEFAULT ((0)),
	[ParagraphInheritId] [int] NULL CONSTRAINT [DW_DF_Paragraph_InheritId]  DEFAULT ((0)),
	[ParagraphInheritUpdateDate] [datetime] NULL,
	[ParagraphInheritStatus] [int] NULL CONSTRAINT [DW_DF_Paragraph_InheritStatus]  DEFAULT ((0)),
	[ParagraphApprovalType] [int] NULL CONSTRAINT [DW_DF_Paragraph_ApprovalType]  DEFAULT ((0)),
	[ParagraphApprovalState] [int] NULL CONSTRAINT [DW_DF_Paragraph_ApprovalState]  DEFAULT ((0)),
	[ParagraphVersionTimeStamp] [datetime] NULL,
	[ParagraphGlobalId] [int] NULL,
	[ParagraphMasterParagraphId] [int] NULL CONSTRAINT [DW_DF_Paragraph_MastParagraphId]  DEFAULT ((0)),
	[ParagraphPreview] [bit] NOT NULL CONSTRAINT [DW_DF_Paragraph_Preview]  DEFAULT ((0)),
	[ParagraphCopyOf] [int] NULL,
	[ParagraphModuleCSS] [nvarchar](max) NULL,
	[ParagraphModuleJS] [nvarchar](max) NULL,
	[ParagraphContainer] [nvarchar](255) NULL,
	[ParagraphTemplate] [nvarchar](255) NULL,
	[ParagraphPermission] [nvarchar](max) NULL,
	[ParagraphMasterType] [int] NULL,
	[ParagraphVariation] [int] NULL,
	[ParagraphItemType] [nvarchar](255) NULL,
	[ParagraphItemId] [nvarchar](255) NULL,
	[ParagraphHideForPhones] [bit] NULL,
	[ParagraphHideForTablets] [bit] NULL,
	[ParagraphHideForDesktops] [bit] NULL,
 CONSTRAINT [DW_PK_Paragraph] PRIMARY KEY CLUSTERED
(
	[ParagraphId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Area] ON

SET IDENTITY_INSERT [dbo].[Area] OFF
SET IDENTITY_INSERT [dbo].[ItemList] ON

INSERT [dbo].[ItemList] ([ItemListId], [ItemListItemType]) VALUES (1, N'Dwtc15_Company')
INSERT [dbo].[ItemList] ([ItemListId], [ItemListItemType]) VALUES (2, N'Dwtc15_Venue')
INSERT [dbo].[ItemList] ([ItemListId], [ItemListItemType]) VALUES (3, N'Dwtc15_Speaker')
GO
SET IDENTITY_INSERT [dbo].[ItemList] OFF
SET IDENTITY_INSERT [dbo].[ItemListRelation] ON

INSERT [dbo].[ItemListRelation] ([ItemListRelationId], [ItemListRelationItemListId], [ItemListRelationItemId], [ItemListRelationSort]) VALUES (3, 4, N'4', 1)
INSERT [dbo].[ItemListRelation] ([ItemListRelationId], [ItemListRelationItemListId], [ItemListRelationItemId], [ItemListRelationSort]) VALUES (8, 12, N'3', 1)
INSERT [dbo].[ItemListRelation] ([ItemListRelationId], [ItemListRelationItemListId], [ItemListRelationItemId], [ItemListRelationSort]) VALUES (9, 6, N'1', 1)
GO
SET IDENTITY_INSERT [dbo].[ItemListRelation] OFF
SET IDENTITY_INSERT [dbo].[ItemNamedItemList] ON

INSERT [dbo].[ItemNamedItemList] ([ItemNamedItemListId], [ItemNamedItemListName], [ItemNamedItemListSourceType], [ItemNamedItemListSourceId], [ItemNamedItemListItemListId]) VALUES (3, N'Attendees', N'Page', 29, 19)
INSERT [dbo].[ItemNamedItemList] ([ItemNamedItemListId], [ItemNamedItemListName], [ItemNamedItemListSourceType], [ItemNamedItemListSourceId], [ItemNamedItemListItemListId]) VALUES (4, N'Comments', N'Page', 29, 96)
INSERT [dbo].[ItemNamedItemList] ([ItemNamedItemListId], [ItemNamedItemListName], [ItemNamedItemListSourceType], [ItemNamedItemListSourceId], [ItemNamedItemListItemListId]) VALUES (8, N'Comments', N'Page', 40, 101)
SET IDENTITY_INSERT [dbo].[ItemNamedItemList] OFF
INSERT [dbo].[ItemType_Dwtc15_Address] ([Id], [ItemInstanceType], [Street], [ZIPCode], [City], [Country], [Geolocation], [Sort], [Region]) VALUES (N'1', N'', N'', N'', N'', N'', NULL, 0, NULL)
INSERT [dbo].[ItemType_Dwtc15_Address] ([Id], [ItemInstanceType], [Street], [ZIPCode], [City], [Country], [Geolocation], [Sort], [Region]) VALUES (N'10', N'', N'', N'', N'', N'', NULL, 0, NULL)
INSERT [dbo].[ItemType_Dwtc15_Address] ([Id], [ItemInstanceType], [Street], [ZIPCode], [City], [Country], [Geolocation], [Sort], [Region]) VALUES (N'100', N'', N'Bjørnholms Alle 30', N'8260', N'Viby J', N'Denmark', N'{"Lat":56.139595,"Lng":10.170633,"IsCustom":false}', 0, N'')
GO
INSERT [dbo].[ItemType_Dwtc15_Attendee] ([Id], [ItemInstanceType], [Sort], [Email], [CompanyName]) VALUES (N'1', N'Dwtc15_Speaker', 0, N'', N'')
INSERT [dbo].[ItemType_Dwtc15_Attendee] ([Id], [ItemInstanceType], [Sort], [Email], [CompanyName]) VALUES (N'11', N'Dwtc15_Attendee', 0, N'sdfgdf', NULL)
INSERT [dbo].[ItemType_Dwtc15_Attendee] ([Id], [ItemInstanceType], [Sort], [Email], [CompanyName]) VALUES (N'12', N'Dwtc15_Attendee', 0, N'mri@dynamicweb.dk', N'Dynamicweb')
INSERT [dbo].[ItemType_Dwtc15_Comment] ([Id], [ItemInstanceType], [Name], [Email], [Comment], [Sort], [CreatedAt]) VALUES (N'1', N'', N'Mikkel', N'mri@dynamicweb.dk', N'Test', 0, NULL)
INSERT [dbo].[ItemType_Dwtc15_Comment] ([Id], [ItemInstanceType], [Name], [Email], [Comment], [Sort], [CreatedAt]) VALUES (N'11', N'', N'1', N'2', N'3', 0, NULL)
INSERT [dbo].[ItemType_Dwtc15_Comment] ([Id], [ItemInstanceType], [Name], [Email], [Comment], [Sort], [CreatedAt]) VALUES (N'13', N'', N'1', N'2', N'3', 0, NULL)
INSERT [dbo].[ItemType_Dwtc15_Company] ([Id], [ItemInstanceType], [Name], [Homepage], [Address], [Sort]) VALUES (N'1', N'', N'Dynamicweb', N'', N'2', 0)
INSERT [dbo].[ItemType_Dwtc15_Company] ([Id], [ItemInstanceType], [Name], [Homepage], [Address], [Sort]) VALUES (N'2', N'', N'Microsoft', N'', N'94', 0)
INSERT [dbo].[ItemType_Dwtc15_Company] ([Id], [ItemInstanceType], [Name], [Homepage], [Address], [Sort]) VALUES (N'3', N'', N'DIS/PLAY', N'', N'3', 0)
INSERT [dbo].[ItemType_Dwtc15_News] ([Id], [ItemInstanceType], [Heading], [Content], [RelatedNews], [Sort], [Categories], [PublicationTime], [ExpirationTime]) VALUES (N'1', N'', N'dwtc15 – Day 1', N'<p>The first&nbsp; day of of the Dynamicweb Tech Conference 2015 is over and we''ve seen a lot of cool stuff.</p>
', 21, 0, N'2', CAST(N'2015-02-11 11:00:00.000' AS DateTime), CAST(N'2016-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[ItemType_Dwtc15_News] ([Id], [ItemInstanceType], [Heading], [Content], [RelatedNews], [Sort], [Categories], [PublicationTime], [ExpirationTime]) VALUES (N'11', N'', N'Jupiter descending', N'<p>Is it any good?</p>
', 95, 2, NULL, CAST(N'2015-02-16 00:00:00.000' AS DateTime), CAST(N'2016-02-16 00:00:00.000' AS DateTime))
INSERT [dbo].[ItemType_Dwtc15_News] ([Id], [ItemInstanceType], [Heading], [Content], [RelatedNews], [Sort], [Categories], [PublicationTime], [ExpirationTime]) VALUES (N'12', N'', N'Queen', N'<p>The show must go on …</p>
', 102, 2, NULL, CAST(N'2007-02-01 00:00:00.000' AS DateTime), CAST(N'2015-02-01 00:00:00.000' AS DateTime))
INSERT [dbo].[ItemType_Dwtc15_NewsCategory] ([Id], [ItemInstanceType], [Name], [Sort], [Description], [IsArchive], [NewsPage]) VALUES (N'1', N'', N'News', 2, N'General news about everything.', NULL, NULL)
INSERT [dbo].[ItemType_Dwtc15_NewsCategory] ([Id], [ItemInstanceType], [Name], [Sort], [Description], [IsArchive], [NewsPage]) VALUES (N'2', N'', N'Music', 1, N'News from the world of music.', NULL, NULL)
INSERT [dbo].[ItemType_Dwtc15_NewsCategory] ([Id], [ItemInstanceType], [Name], [Sort], [Description], [IsArchive], [NewsPage]) VALUES (N'3', N'', N'Dynamicweb', 2, NULL, NULL, NULL)
INSERT [dbo].[ItemType_Dwtc15_Page] ([Id], [ItemInstanceType], [Name], [Sort], [CommentActions]) VALUES (N'1', N'', N'Program', 2, N'show,create')
INSERT [dbo].[ItemType_Dwtc15_Page] ([Id], [ItemInstanceType], [Name], [Sort], [CommentActions]) VALUES (N'10', N'', N'Frontpage', 1, N'show')
INSERT [dbo].[ItemType_Dwtc15_Page] ([Id], [ItemInstanceType], [Name], [Sort], [CommentActions]) VALUES (N'11', N'', N'Archive', 3, NULL)
INSERT [dbo].[ItemType_Dwtc15_Paragraph] ([Id], [ItemInstanceType], [Heading], [HeadingLevel], [Content], [Sort]) VALUES (N'1', N'Dwtc15_ParagraphWithModule', N'We''re a global bunch of people', N'1', N'', 0)
INSERT [dbo].[ItemType_Dwtc15_Paragraph] ([Id], [ItemInstanceType], [Heading], [HeadingLevel], [Content], [Sort]) VALUES (N'10', N'Dwtc15_ParagraphWithModule', N'', N'1', N'', 0)
INSERT [dbo].[ItemType_Dwtc15_Paragraph] ([Id], [ItemInstanceType], [Heading], [HeadingLevel], [Content], [Sort]) VALUES (N'11', N'Dwtc15_ParagraphWithModule', N'', N'1', N'', 0)
INSERT [dbo].[ItemType_Dwtc15_ParagraphWithModule] ([Id], [ItemInstanceType], [Sort], [AvailableFeeds], [Csv_FieldDelimiter], [Csv_DataDelimiter], [Csv_IncludeHeader]) VALUES (N'1', N'Dwtc15_ParagraphWithModule', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[ItemType_Dwtc15_ParagraphWithModule] ([Id], [ItemInstanceType], [Sort], [AvailableFeeds], [Csv_FieldDelimiter], [Csv_DataDelimiter], [Csv_IncludeHeader]) VALUES (N'10', N'Dwtc15_ParagraphWithModule', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[ItemType_Dwtc15_ParagraphWithModule] ([Id], [ItemInstanceType], [Sort], [AvailableFeeds], [Csv_FieldDelimiter], [Csv_DataDelimiter], [Csv_IncludeHeader]) VALUES (N'11', N'Dwtc15_ParagraphWithModule', 0, N'json', NULL, NULL, NULL)
INSERT [dbo].[ItemType_Dwtc15_Person] ([Id], [ItemInstanceType], [Name], [Sort], [Address]) VALUES (N'1', N'Dwtc15_Speaker', N'Mikkel Ricky', 0, N'17')
INSERT [dbo].[ItemType_Dwtc15_Person] ([Id], [ItemInstanceType], [Name], [Sort], [Address]) VALUES (N'11', N'Dwtc15_Attendee', N'asdfasd', 0, NULL)
INSERT [dbo].[ItemType_Dwtc15_Person] ([Id], [ItemInstanceType], [Name], [Sort], [Address]) VALUES (N'12', N'Dwtc15_Attendee', N'Mikkel Ricky', 0, N'15')
INSERT [dbo].[ItemType_Dwtc15_Session] ([Id], [ItemInstanceType], [Title], [StartTime], [IsBreak], [Description], [Speakers], [Sort], [Location], [TechnicalLevel]) VALUES (N'1', N'', N'Check-in and breakfast', CAST(N'2015-02-26 08:30:00.000' AS DateTime), 1, N'<p>THis is the description</p>
', 97, 1, NULL, NULL)
INSERT [dbo].[ItemType_Dwtc15_Session] ([Id], [ItemInstanceType], [Title], [StartTime], [IsBreak], [Description], [Speakers], [Sort], [Location], [TechnicalLevel]) VALUES (N'12', N'', N'Email Marketing A-Z', CAST(N'2015-02-26 13:15:00.000' AS DateTime), 0, N'<p>In this session we will take a journey through the entire Email Marketing area of Dynamicweb from an implementer and editors perspective. How does it work from basic newsletters till advanced marketing automation.</p>
', 40, 0, N'2', NULL)
INSERT [dbo].[ItemType_Dwtc15_Speaker] ([Id], [ItemInstanceType], [Biography], [Homepage], [Sort], [Image], [Title], [Company]) VALUES (N'1', N'Dwtc15_Speaker', N'<p>Mikkel has worked with web programming and web technologies ever since taking his first steps onto the internet back in the summer of ''95. Before joining Dynamicweb, Mikkel worked in the publishing industry for many years, and he''s no stranger to the challenges we''re facing with getting good content onto the web and present it in useful and beautiful ways.</p>
', N'', 0, N'', N'Developer Evangelist', 86)
INSERT [dbo].[ItemType_Dwtc15_Speaker] ([Id], [ItemInstanceType], [Biography], [Homepage], [Sort], [Image], [Title], [Company]) VALUES (N'2', N'Dwtc15_Speaker', N'<p>Søren is a Technical Solutions Architect in teams developing international B2B and B2C sites with integration to ERP/CRM/PIM-systems. He focus on cross project development optimization and has a flair for combining different technologies to solve real world problems.</p>
', N'', 0, N'', N'Technical Solutions Architect', 20)
INSERT [dbo].[ItemType_Dwtc15_Speaker] ([Id], [ItemInstanceType], [Biography], [Homepage], [Sort], [Image], [Title], [Company]) VALUES (N'3', N'Dwtc15_Speaker', N'<p>Sebastian is a Tech Evangelist in Microsoft where he works with Modern Apps, Cloud Computing and Developer Tools. He has a great passion for technology (ranging from tiny embedded systems with Arduino/Netduino to large-scale cloud solutions in Azure) and focuses on driving Microsoft technologies forward on all kinds of different platforms.</p>
', N'', 0, N'', N'Tech Evangelist', 82)
INSERT [dbo].[ItemType_Dwtc15_Venue] ([Id], [ItemInstanceType], [Name], [Sort]) VALUES (N'1', N'', N'Room A/B', 1)
INSERT [dbo].[ItemType_Dwtc15_Venue] ([Id], [ItemInstanceType], [Name], [Sort]) VALUES (N'2', N'', N'Room C', 2)
INSERT [dbo].[ItemType_Dwtc15_Venue] ([Id], [ItemInstanceType], [Name], [Sort]) VALUES (N'3', N'', N'Room F', 3)
SET IDENTITY_INSERT [dbo].[ItemTypeId] ON

INSERT [dbo].[ItemTypeId] ([ItemType], [Current], [Seed], [ItemTypeIdAutoId]) VALUES (N'DwsimpleWebsiteSettings', 6, 1, 1)
INSERT [dbo].[ItemTypeId] ([ItemType], [Current], [Seed], [ItemTypeIdAutoId]) VALUES (N'MultiPurposeParagraph', 2, 1, 2)
INSERT [dbo].[ItemTypeId] ([ItemType], [Current], [Seed], [ItemTypeIdAutoId]) VALUES (N'Dwtc15_Page', 15, 1, 3)
SET IDENTITY_INSERT [dbo].[ItemTypeId] OFF
SET IDENTITY_INSERT [dbo].[Page] ON

SET IDENTITY_INSERT [dbo].[Page] OFF
SET IDENTITY_INSERT [dbo].[Paragraph] ON

SET IDENTITY_INSERT [dbo].[Paragraph] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [DW_PK_ItemTypeDefinitions]    Script Date: 2015-02-24 4:05:42 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeDefinitions]') AND name = N'DW_PK_ItemTypeDefinitions')
ALTER TABLE [dbo].[ItemTypeDefinitions] ADD  CONSTRAINT [DW_PK_ItemTypeDefinitions] PRIMARY KEY NONCLUSTERED
(
	[ItemTypeDefinitionsSystemName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [DW_PK_ItemTypeId]    Script Date: 2015-02-24 4:05:42 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ItemTypeId]') AND name = N'DW_PK_ItemTypeId')
ALTER TABLE [dbo].[ItemTypeId] ADD  CONSTRAINT [DW_PK_ItemTypeId] PRIMARY KEY NONCLUSTERED
(
	[ItemType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ItemListRelation_FKItemListId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ItemListRelation]'))
ALTER TABLE [dbo].[ItemListRelation]  WITH CHECK ADD  CONSTRAINT [ItemListRelation_FKItemListId] FOREIGN KEY([ItemListRelationItemListId])
REFERENCES [dbo].[ItemList] ([ItemListId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ItemListRelation_FKItemListId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ItemListRelation]'))
ALTER TABLE [dbo].[ItemListRelation] CHECK CONSTRAINT [ItemListRelation_FKItemListId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ItemType_Dwt__Id__1C722D53]') AND parent_object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Attendee]'))
ALTER TABLE [dbo].[ItemType_Dwtc15_Attendee]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[ItemType_Dwtc15_Person] ([Id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ItemType_Dwt__Id__79E80B25]') AND parent_object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_ParagraphWithModule]'))
ALTER TABLE [dbo].[ItemType_Dwtc15_ParagraphWithModule]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[ItemType_Dwtc15_Paragraph] ([Id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__ItemType_Dwt__Id__2042BE37]') AND parent_object_id = OBJECT_ID(N'[dbo].[ItemType_Dwtc15_Speaker]'))
ALTER TABLE [dbo].[ItemType_Dwtc15_Speaker]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[ItemType_Dwtc15_Attendee] ([Id])
GO
