<div class="col-md-3 col-sm-3 col-xs-12">
        <ul class="categories customercentermenu dwnavigation"">
            <li>@GetString("Ecom:CustomerCenter.MyOrders")</li>
            <li>@GetString("Ecom:CustomerCenter.MyQuotes")</li>
            <li>@GetString("Ecom:CustomerCenter.MyLists")</li>
            <li>@GetString("Ecom:CustomerCenter.Search")</li>
        </ul>
    <p>&nbsp</p>
</div>